---
import Layout from '../layout.astro';
import Hero from '../components/hero.tsx';
import Body from '../components/body.jsx';
import t from '../i18n';

const { path } = Astro.params;
export function getStaticPaths() {
	return [
		{ params: { path: 'en' } },
		{ params: { path: 'ru' } }
	];
}
---

<Layout>
	<div class="w-full bg-bgc h-max">
		<Hero lang={path} client:load />
		<Body lang={path} client:load />	
	</div>
</Layout>