---
import "./styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Краткое описание страницы">
		<meta name="keywords" content="developer, idk, wlfrm, wlfrm the dev">
		<meta name="author" content="Wlfrm">
		<meta property="og:title" content="Wlfrm's page">
		<meta property="og:description" content="Wlfrm the dev's page, made with love and Astro">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Wlfrm the dev</title>
	</head>
	<body>
		<slot />
	</body>
</html>
